<!DOCTYPE html>
<html>
  <head>
    <title>Actividad 29</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= alert%>
  <%= notice%>
  <% if logged? %>
  	Bienvenido <%= current_user.email %>
  	<%=link_to "salir", session_path(current_user),method: :delete%>
  	<% else %>
  	El usuario no ha ingresado
  	<% end %>
    <%= yield %>
  </body>
</html>
